@page "/"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
    Congratulations, @context.User.Identity?.Name! You are authorized!
    </Authorized>
    <NotAuthorized>
        Uh-oh, you aren't authorized!
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>